<launch>

<!-- LOAD PARAMETERS -->

<!-- Load the planner's config.yaml file and robot_0.yaml file -->
<include file="$(find ramp_launch)/launch/planner_parameters.launch" />


<!-- START NODES -->

<node name="trajectory_generator" pkg="trajectory_generator" type="trajectory_generator" output="log" />

<!-- Evaluation -->
<node name="trajectory_evaluation" pkg="trajectory_evaluation" type="trajectory_evaluation" output="screen" />

<!-- Parse hmap file and publish it
<node name="load_occ_data" pkg="ramp_sensing" type="load_occ_map.py" output="screen" /> -->

<!-- Get hmap, and publish hmap obstacles -->
<node name="process_hmap" pkg="ramp_sensing" type="process_hmap" output="screen" />

<!-- map->odom transform -->
<node name="pub_map_odom" pkg="ramp_planner" type="pub_map_odom" output="screen" />

<!-- Path modification -->
<node name="path_modification" pkg="path_modification" type="path_modification" />

<!-- Planner -->
<node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" output="screen" />


</launch>
